#arrange-room{
	background-color: #c7eae1;
	background-image: url("/images/grid2.png");
	height: 100vh;
	left: 25px;
}

#ruler{
	height: 100%;
	overflow: hidden;
	width: 100%;
}
.ruler_y{
	position: relative;
	width: 25px;
	float: left;
}

