#arrange-room{
	background-color: #bdd8b1;
	background-image: url("./img/grid2.png");
	height: 100vh;
}
#furnituresDiv{
	overflow-y: scroll;
	height: 100vh;
}

.room{
	background-image: url("/images/floor.jpg");
	background-size: 100% 100%;
}
h6{
	font-weight: bold;
}
p{
	font-size: 0.8rem;
	font-weight: 500;
}
/*----------google font-------------------*/
body{
	font-family: 'Montserrat', sans-serif;
}
/*----------google font-------------------*/
